@charset "utf-8";
/* CSS Document */

* { 
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

html, body { height: 100%; }

#headerContainer {
	position: absolute;
	width: 100%;
	height: 65px;
	background: #333333; 
}
	
#headerContent {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #DDDDDD;
	font-size: 12px; 
}

#container {
	min-height: 100%;
	width: 100%;
	position: relative;
}

#content {
	padding-bottom: 125px;
	padding-top: 85px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	line-height: 18px; 
}
	
#content a {
	color: #2888C8;
	cursor: pointer; 
}
	
#content a:hover {
	text-decoration: underline; 
}

#searchContainer {
	background: #EFEFEF;
	border: #CCCCCC 1px solid;
	padding: 15px;
	width: 393px;
	margin: 0 auto 20px auto;
	text-align: left;
	font-size: 14px;
}

#searchContainer input {
	width: 340px;
	height: 25px;
	font-size: 14px;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid #BBBBBB;
	display: inline-block;
	float: left;
}

#searchContainer a {
	width: 40px;
	height: 35px;
	margin-top: 5px;
	margin-left: -1px;
	display: inline-block;
	background: #EFEFEF;
	border: #BBBBBB 1px solid;
	float: left;
}

#searchContainer a:hover {
	background: #DDDDDD;
	border: #999999 1px solid;
}

#searchContainer a img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#buttonHolder {
	padding: 0px 25px 25px 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

a.largeButton {
	display: inline-block;
	width: 200px;
	height: 160px;
	background: #EFEFEF;
	border: #CCCCCC 1px solid;
}

.largeButtonText {
	text-decoration: none;
	color: #333333;
	font-size: 14px;
}

.largeButtonText:hover {
	text-decoration: none;
}

a.largeButton:hover {
	background: #DDDDDD;
	border: #AAAAAA 1px solid;
}

.largeButton img {
	display: inline-block;
	margin: 15px auto 15px auto;
	height: 100px;
	width: 120px;
}

.inlinePadding {
	display: inline-block;
	opacity: 0;
}

#postingTitle {
	margin-top: 20px;
	background: #EFEFEF;
	border: 1px solid #CCCCCC;
	padding: 5px;
}

.titleInsideTitle {
	display: inline-block;
	font-size: 20px;
}

.dateAndPriceInsideTitle {
	display: inline-block;
	float: right;
	font-size: 14px;
}

/////////////////////////////////////////////////////////////////////////////////////

#bookInfo {
	padding: 5px;
	border: 1px solid #CCCCCC;
	background: #EFEFEF;
	margin-top: 5px;
}

#bookInfo ul {
	list-style: none;
}

.bookInfoTitle {
	width: 100%;
	font-size: 14px;
	text-decoration: underline;
	margin-bottom: 5px;
	font-weight: bold;
}

.bookInfoLeft {
	display: inline-block;
}

.bookInfoRight {
	display: inline-block;
	float: right;
	max-width: 400px;
}

#contactInfo {
	padding: 5px;
	border: 1px solid #CCCCCC;
	background: #EFEFEF;
	margin-top: 5px;
}

#contactInfo ul {
	list-style: none;
}

.contactInfoTitle {
	width: 100%;
	font-size: 14px;
	text-decoration: underline;
	margin-bottom: 5px;
	font-weight: bold;
}

#footerContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 65px;
	background: #333333; 
}
	
#footerContent {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #DDDDDD;
	font-size: 12px; 
}

#footerContent a {
	text-decoration: none;
	color:#DDDDDD; 
}

#footerContent a:hover {
	text-decoration: none;
	color:#999; 
}

#aboutContent {
	padding: 5px;
	border: 1px solid #CCCCCC;
	background: #EFEFEF;
	margin-top: 5px;
}

#contactContent {
	padding: 5px;
	border: 1px solid #CCCCCC;
	background: #EFEFEF;
	margin-top: 5px;
}

#faqContent {
	padding: 5px;
	border: 1px solid #CCCCCC;
	background: #EFEFEF;
	margin-top: 5px;
}

#pathLinks {
	background: #EFEFEF;
	border: 1px solid #CCCCCC;
	padding: 5px;
}

#browseContainer {
	padding: 15px;
	border: 1px solid #CCCCCC;
	background: #EFEFEF;
	margin-top: 20px;	
}

#browseContainer a:hover {
	text-decoration: none;
	background: #DDDDDD;
}

a.browseCategoryItem {
	display: inline-block;
	padding: 5px;
	width: 755px;
	background: #cdcdcd;
	border: 1px solid #222;
	margin-bottom: 5px;
}

.categoryItemLarge {
	font-size: 16px;
	padding: 5px;
}

.categoryItemSmall {
	float: right;
	margin-right: 10px;
}

a.browseBookItem {
	display: inline-block;
	padding: 5px;
	width: 755px;
	background: #cdcdcd;
	border: 1px solid #222;
	margin-bottom: 5px;
}

.titleInsideBrowseItem {
	font-size: 16px;
}





.contentSection {
	background: #EFEFEF;
	border: 1px solid #CCCCCC;
	padding: 10px;
	margin-bottom: 8px; }

.contentLeft {
	float: left;
	max-width: 400px;
	margin: 10px; }
	
.contentRight {
	float: right;
	max-width: 400px;
	margin: 10px; }
	
.contentClear {
	clear: both; }
	
.contentTitle {
	font-size: 14px;
	text-decoration: underline;
	margin-bottom: 5px;
	font-weight: bold; }

.contentTitleText {
	font-size: 20px;
	float: left; }
	
.contentTitleSubText {
	font-size: 14px;
	float: right; }
	
.contentLinksDrilldown {
	margin-bottom: 25px; }
	
.contentCreateLabel {
	margin-top: 10px;
	margin-bottom: 3px; }

.contentCreateInput input  {
	width: 355px;
	padding: 5px;}
	
.contentCreateInput form {
	width: 355px;
	padding: 5px; }
	
.contentCreateInput select {
	width: 369px;
	padding: 5px; }
	
.contentCreateInput textarea {
	width: 745px;
	height: 125px;
	padding: 5px; }

.buttonSection {
	margin: 20px 0 0 0; }
	
.button {
	padding: 15px 10px 15px 10px;
	border: 1px solid #CCCCCC;
	background: #EFEFEF;
	float: left;
	margin-right: 15px;
	min-width: 150px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	color: #000000; }
	
.button:hover {
	border: 1px solid #AAAAAA;
	background: #DDDDDD; }
	


form:input {
	width: 355px;
	padding: 5px;
}